<!DOCTYPE html>
<html>
  <head>
    <title>DSA-Heldenschmiede</title>
    <style>
      h1{
        font-size:40px;
        font-family: Roboto;
        font-weight: normal;
        color: rbg(255,255,255);
        text-align: center;
      }
      h2{
        font-size:32px;
        font-family: Roboto;
        color: rbg(100, 100, 100);
        text-align: center;
        font-weight: normal;
      }
      .bodytext{
        font-family: Roboto;
        color: rbg(80.80.80);
      }
      #container {
        max-width: 720px;
        margin: 0,auto,0,auto
      }
    </style>
  </head>
<body>
  <div> id="container"
    <h1>Heldensammlung</h1>
    <h2>Über die Sammlung<<bodytext></bodytext> <p class"bodytext">Die DSA-Heldenschmiede stellt eine Sammlung von ,von Spielern generierte, Helden dar. Diese Helden können von unserer Seite herrunter geladen werden. Desweiteren ist es möglich selbsterstellte Helden hoch zu laden,
 um sie mit anderen zu teilen.</p>
    <h2>Heldenliste</h2>
    <p class"bodytext">todo-Liste der Helden</p>
  <div style "text-align: center;">
    <button>Herunterladen</button>
    <p> Copyright 2023 Hajjada</p>
  </div>
  </div>                        
</body>
</html>